Scripts/bin/
Scripts/obj/
Test Output/bin/
Test Output/obj/
.vs/
CompiledScripts/obj/
GUI/obj/
ScriptorCommon/obj/
GUI/bin/
CompiledScripts/bin/
ScriptorCommon/bin/
User_Defined_Scripts/.scriptor/
/CustomScripts
